# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual envs
.venv/
.venv-1/

# Django
*.log
local_settings.py
db.sqlite3
/media
/staticfiles

# Environment
.env
.env.*

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
Thumbs.db
.DS_Store
